/*
 */
 
/*@import url("dojox/layout/resources/ExpandoPane.css");*/

/*Stick Footer Solution
http://www.cssstickyfooter.com */
* { margin: 0; padding: 0; }

html, body {
	height: 100%; width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	
	overflow: hidden;
}

hr {
	margin: .5em;
}

h2 {
	font-size: 22px;
}

#wrap { }
#main { padding-bottom: 12%; }

#footer {
	position: relative;
	margin-top: -12%;
	margin-left: 90%;
	height: 12%;
	clear: both;
	
	z-index: 255;
}

body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}
		
h3 {
	margin: 0 0 0.5em 0;
	border-bottom: 1px solid #444;
}

#status{ 
    background-color:#E0E0E0;
    color: #707070;
	
	font-size: 18pt;
	height: 28pt;
	
    font-weight: bold; 
    
	padding: 3px;
    border: solid 1px #707070; 
    
	-moz-border-radius: 15px; 
    -webkit-border-radius: 15px;     
    border-radius: 15px;
    
	position:absolute; 
    top:50%; 
    right:20%; 
    z-index:100; 
    display:none;
}

.shadow { 
    -moz-box-shadow: 0 0 15px #888; 
    -webkit-box-shadow: 0 0 15px #888; 
	box-shadow: 0 0 15px #888; 
}

.icon {
	width: 20px;
	height:20px;
	font-size: 12pt;
	display: inline-block;
	
	background-size: 20px 20px;
}

.legendIcon {
	width: 41px;
}

.Layers-icon {
	background-image: url("images/Layers-icon.png");
}

.Identify-results {
	background-image: url("images/identify.gif");
}

.Information-Icon {
	background-image: url("images/glyphicons_195_circle_info.png");
	width: 15px;
	height:15px;
	
	background-size: 15px 15px;
}

.base-layer-icon{
	background-image: url("images/base-layer-icon.png");
}

.open-maplayer-icon {
	background-image: url("images/folder-open-icon.png");
}

.map-legend-icon {
	background-image: url("images/map-legend-icon.png");
}

.zoomInIcon {
	background-image: url("images/glyphicons_236_zoom_in.png");
}

.zoomfullextIcon {
	background-image: url("images/ga-icon.png");
}

.metadataTabIcon {
	background-image: url("images/glyphicons_039_notes.png");
}

.zoomnextIcon {
	background-image: url("images/forward.png");
}

.zoomprevIcon {
	background-image: url("images/glyphicons_216_circle_arrow_left.png");
}

.zoompan {
	background-image: url("images/glyphicons_186_move.png");
}

.identify {
	background-image: url("images/identify.png");
}

.showTimeSliderIcon {
	background-image: url("images/glyphicons_054_clock.png");
}

.measureLine {
	background-image: url("images/glyphicons_068_ruller.png");
}

.summaryIcon {
	background-image: url("images/sigma.png");
}

.printIcon {
	background-image: url("images/glyphicons_015_print.png");
}

.hideSidebarIcon {
	background-image: url("images/glyphicons_370_globe_af.png");
}

div {

}

.dijitButton img {
	height: 16pt;
}

.dijitButtonText {
	font-size: 14pt;
	font-weight: bold;
}

.dojoDndContainer .dijitButtonText, .dojoDndContainerOver .dijitButtonText {
	font-size: 10pt;
}

.esriLegendLayerLabel  td{
	margin: 0px;
}

.esriLegendGroupLayer > .esriLegendLayerLabel {
	font-weight: bold;
}

.esriLegendLayer td {
	margin: 0px;
}

#bottomIDPanel {
	border: 2px solid black;
	overflow: scroll;
	height: 10em;
}

#paneTitleRight {
	position:absolute;
	
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	
	font-size: 14pt;
	top: 15em; right: 0;
	
	z-index: 1024;
	
	padding-top: 150px;
	margin: 0;
}

#paneTitleLeft {
	position:absolute;
	
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	
	font-size: 14pt;
	visibility: hidden;
	top: 15em; left: 0;
	
	z-index: 1024;
	
	padding-bottom: 35px;
	margin: 0;
}

.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

#GABranding {
	color: #78ABB1;
	
	font-weight: bold;
	font-size: 20pt;
}

#BrandingPanel {
	margin-top: 1em;
	margin-bottom: 2em;
	margin-left: .1em;
}

#MapSrvInfo .dijitButtonText, #MapSrvRemove .dijitButtonText, #MapSrvAdd .dijitButtonText {
	font-size: 10pt;
}

.idLayerLabel {
	background-color: #DDDDDD;
	margin-top: 8px;
	height: 1.8em;
	padding-top: .5em;
}

.idAttribLabel  {
	background-color: #EEEEEE;
}

.idAttribValue {
}

#attributesPanel {
/*    background-color:#E0E0E0;
    color: #707070;
	
	font-size: 12pt;
	height: 300px;
	width: 500px;
	
    font-weight: bold; 
    
	padding: 8px;
    border: solid 1px #707070; 
    
	-moz-border-radius: 15px; 
    -webkit-border-radius: 15px;     
    border-radius: 15px;
    
	position:absolute; 
    top:50%; 
    right:20%; 
    z-index:100;*/
	/*height: 95%;*/
}

@import "http://serverapi.arcgisonline.com/jsapi/arcgis/3.2/js/dojo/dojox/grid/resources/Grid.css";
@import "http://serverapi.arcgisonline.com/jsapi/arcgis/3.2/js/dojo/dojox/grid/resources/claroGrid.css";

/*.dojoxGrid table {
}*/

.dojoxGrid {
	/*margin-bottom: 50px;*/
	height: 15em;
}

a.attributeLink {
	font-size: 80%;
	padding-left: 2em;
}

.tabLabel {
/*	font-size: 0px;*/
}

.nav-tabs.nav-stacked > li.active > a {
	border-left: none;
	border-right: none;
}

.jspHorizontalBar , .jspVerticalBar{
	background-color: gray;
	z-index: 5;
}

.span6 {
	margin-left: 0;
	width: 34.5%;
}

.span9 {
	margin-left: 10px;
	width: 64%;
}

h3 {
	font-size: 115%;
}

#idResultsList th {
	text-align: left;
	font-size: 125%;
	color: 0x0066FF;
}

ul {
	margin: 0;
	padding: 0;
}

#idResultsList ul {
	list-style: none;
}

#coordinates {
	font-weight: bold;
}

.esriScalebar {
	position: relative;
	bottom: 2.5em;
}

#statTable td, #statTable th {
	padding: 5px;
}

.currTool {
	font-weight: bold;
	font-size: 110%;
}

/* Styles specific to this particular page */
.scroll-pane,
.scroll-pane-arrows
{
	width: 100%;
	height: 200px;
	/*overflow: auto;*/
}

.attribRow {
}

#attribPopoutPanel tr {
	margin-top: 10px;
	background-color: #DDDDDD;
}

.attribRow td {
	border: solid 1px black;
	padding: 6px;
	margin-top: 0px;
	background-color: #FFFFFF;
}

.highlight
{
	background-color:#cccccc;
}

#summarySelectList {
	width: 95%;
}

#timeSliderContainer {
	border: 1px solid gray;
	background-color: #EEEEEE;
}

#timeSliderDiv {
	width: 600px !important;
}

#timeSliderChoices {
	margin-top: 1em;
	position: relative;
	width: 575px;
}

#timeSliderChoicesSelect {
	margin-top: 1em;
	margin-left:1.5em;
	position: relative;
	width: 565px;
}

#resultsContainer {
	height: 60%;
}

.sidebar-nav {
	height: 3em;
}

.dijitMenuPopup {
	z-index: 3000 !important;
}

#coordContainer {
	/*position: absolute; */
	z-index: 255; 
	/*left: 40%;
	padding-left: 26.5%; */
}

#coordinates {
	/*position: absolute;
	right: -5em;
	bottom: 3em;
	width: 30em; */
	float: right;
	padding-top: 2%;
}

#measurementDiv {
}

#measurementDiv .resultLabel {
	display: none;
}

#measurementDiv .result {
	display: inline;
	margin-left: 7.5em;
}

#layersVisibList, .btn {
	font-size: 10pt;
}

.accordion-inner {
	margin:  2px;
	padding: 2px;
}

.accordion-heading {
	line-height: 2em;
	font-size: 12pt;
	padding-left: 1em;
	white-space: nowrap;
}

.legendSwatch {
	height: 14px;
	width: 14px;
}

.legendSwatch img {
	padding-top: 5px;
}

.noSidebar {
	margin: 0px;
	display: none;
	width: 0px;
}

.yesSidebar {
	float: left;
	margin: 0px;
	width: 30%;
}

.tab-pane {
	height: 100%;
}

#map {
	height: 95% !important;
}

.enlargedMapTool {
	/*position: absolute;
	margin-top: -15px;
	
	z-index: 500;
	*/
	padding-left: 3%;
	display: none;
}

.activeLayerTabStyle {
	border-bottom: 5px solid gold;
}

.activeLayerTabStyle a  {
	background-color: #EEEEEE;
}

#esriPrint a, .esriPrintout {
	font-size: 14pt;
	font-weight: bold;
}

.esriPrint {
	padding-top: 0px;
}

.nav-tabs {
	border: 0;
}

.nav-tabs > li > a {
	margin: 0px 4px 0px 4px;
	padding: 0px;
}

.logosTimeVisible {
	position: absolute;
	left: 0em;
	top: 50px;
}

.logosTimeInvisible {
	position: absolute;
	left: 0em;
	top: 0em;
	
	margin-left: 600px;
}

#logos {
	/*border: 1px solid black;*/
	margin-top: 5px;
	margin-bottom: 5px;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
	background-color: #EEEEEE;
}

.btn-layer {
	/*margin:  3px;*/
	
	background-position: 0 0;
	background-size: 20px 20px;
	
	width: 25px;
	height:25px;
}

.btn-layer:hover {
	background-position: 0 0;
	background-size: 20px 20px;
}